<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Authentication</title>
    <link rel="icon" href="data:,"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/auth.css}"/>
    <script type="text/javascript" defer="defer" th:src="@{/js/auth.js}"></script>
</head>
<body>
    <div class="container">
        <h1 class="header">Log In</h1>
        <h2 class="header">Go to [page]</h2>
        <form class="form">
            <th:block th:if="${section == 'USERNAME'}"
                      th:insert="~{fragments/auth-sections.html :: username-section}"/>
            <th:block th:if="${section == 'PASSWORD'}"
                      th:insert="~{fragments/auth-sections.html :: password-section}"/>
        </form>
    </div>
</body>
</html>