<html lang="es">
<head>
    <meta charset="utf-8"/>
    <title>Formulario <th:block th:text="${title}"/></title>
    <script type="text/javascript" th:src="@{/js/index.js}"></script><!--/* JavaScript */-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/><!--/* CSS */-->
    <link rel="icon" href="data:,"/><!--/* Para que no busque favicon.ico */-->
</head>
<body>
<h1>Formulario <th:block th:text="${title}"/></h1>
<h2>Iteración: <th:block th:text="${params.iterations}"/></h2>
<form action="/form/repaintedAdvanced" th:object="${params}" method="post">
    <fieldset>
        <legend>F o r m u l a r i o</legend>

        <label for="name">Nombre:</label>
        <input type="text" th:field="*{name}" class="box"/>
        <br/>

        <label for="passwd">Clave:</label>
        <input type="password" th:id="passwd" th:name="passwd" th:value="*{passwd}" class="box"/>
        <br/>

        <label for="confirmPasswd">Confirmar clave:</label>
        <input type="password" th:id="confirmPasswd" th:name="confirmPasswd"  th:value="*{confirmPasswd}" class="box"/>
        <br/>

        <div></div><!--/* Para correcta colocación en documento CSS */-->
        <input type="hidden" th:field="*{iterations}"/>
        <input type="button" value="Mostrar claves en abierto" onclick="showPasswords('passwd', 'confirmPasswd')">
        <br/>

        <label>Semáforo:</label>
        <div><!--/* Para correcta colocación en documento CSS */-->
            <!--/*@thymesVar id="color" type=""*/-->
            <th:block th:each="color : ${listSemaphore}">
                <input type="radio" th:field="*{selectedSemaphore}"
                       th:value="${color.key}" th:text="${color.value}"/>
            </th:block>
        </div>
        <br/>

        <div></div><!--/* Para correcta colocación en documento CSS */-->
        <input type="button" value="Deseleccionar radios" onclick="checkAll('selectedSemaphore', false);"/>
        <br/>

        <label for="selectedCountry">País:</label>
        <select th:field="*{selectedCountry}">
            <option th:each="country : ${listCountries}"
                    th:value="${country.key}" th:text="${country.value}"></option>
        </select>
        <br/>

        <div></div><!--/* Para correcta colocación en documento CSS */-->
        <input type="file" name="document" id="document"/>
        <br/>

        <label for="selectedMusic">Músicas:</label>
        <select th:field="*{selectedMusic}" multiple="multiple">
            <!--/*@thymesVar id="music" type=""*/-->
            <option th:each="music : ${listMusic}"
                    th:value="${music.key}" th:text="${music.value}">
            </option>
        </select>
        <br/>

        <input type="button" value="Deseleccionar select múltiple" onclick="selectAll('selectedMusic', false);">
        <input type="button" value="Seleccionar select múltiple" onclick="selectAll('selectedMusic', true);">
        <br/>

        <label>Aficiones:</label>
        <div><!--/* Para correcta colocación en documento CSS */-->
            <!--/*@thymesVar id="hobby" type=""*/-->
            <th:block th:each="hobby : ${listHobbies}">
                <input type="checkbox" th:field="*{selectedHobbies}"
                       th:value="${hobby.key}" th:text="${hobby.value}"/>
            </th:block>
        </div>
        <br/>

        <input type="button" value="Deseleccionar checkboxes"
               onclick="checkAll('selectedHobbies', false);">
        <input type="button" value="Seleccionar checkboxes"
               onclick="checkAll('selectedHobbies', true);">
        <br/>

        <label for="comments">Comentarios:</label>
        <textarea rows="4" cols="30" th:field="*{comments}" class="box"></textarea>
        <br/>

        <!--/* Se utiliza el 1º label para correcta colocación en documento CSS */-->
        <label class="license"><input type="checkbox" th:name="license" th:id="license" th:checked="*{license}"/></label>
        <label for="license">Acepta la licencia</label>
        <br/>

        <!--/* Se utiliza el 1º label para correcta colocación en documento CSS */-->
        <label><input type="image" name="icon" alt="" th:src="@{/img/right_arrows.png}"/></label>
        <div>imagen.x: <th:block th:text="*{iconX}"/> e imagen.y: <th:block th:text="*{iconY}"/></div>

        <br/>

        <input type="button" value="Dejar formulario en blanco" onclick="clearAll()"/>
        <div></div><!--/* Para correcta colocación en documento CSS */-->
        <br/>

        <input type="reset" id="restaurar"/>
        <input type="submit" id="enviar"/>
        <br/>

        <div th:text="*{counter}" class="expand"></div>
    </fieldset>
</form>
</body>
</html>
